* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  user-select: none;
  font-size: 17px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.row {
  display: flex;
  justify-content: center;
}
.button_calculator {
  width: 40px;
  height: 40px;
}
.button_calculator:hover {
  background-color: lightskyblue;
}
.score {
  text-align: center;
  background-color: lightgray;
  border: 1px solid black;
  height: 30px;
  width: 160px;
}
.calculator_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#clear_button {
  background-color: lightcoral;
  border: 1px solid black;
}
#clear_button:hover {
  background-color: lightskyblue;
}
#equal_button {
  background-color: lightgreen;
  border: 1px solid black;
}
#equal_button:hover {
  background-color: lightskyblue;
}