* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  text-align: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.row {
  display: flex;
  justify-content: center;
}
.button_calculator {
  width: 40px;
  height: 40px;
}
.button_calculator_0 {
  width: 80px;
  height: 40px;
}
.score {
  text-align: center;
  background-color: lightgray;
  border: 1px solid black;
  height: 30px;
  width: 160px;
}
.calculator_header {
  display: flex;
  justify-content: center;
  align-items: center;
}